@charset "UTF-8";
*{margin: 0px; padding: 0px;}
ul{list-style: none;}
a{text-decoration: none;}
 
header{
    width: 100%;
    height:95px;
    background-color: #2d3a4b;
    position: relative;
}
.all {
	border-radius: 10px;
	padding: 10px;
	background-color: #FFFFFF;
}
 
#logo{
	position: absolute;
	top:30px;
	left:30px;
}

#top_menu{
    position: absolute;
    top: 20px;
    right: 10px;
    color: white;
}
#top_menu a{color: white; font-size: 14px;}
 
nav{
    position:absolute;
    bottom: 10px;
    left:220px;
    font-size:16px;
}

nav li{
	display: inline;
	margin-left:30px;
}
 
nav li a{
    color: white;
}
 
nav li a:hover{
    background-color: white;
    color: black;
}

#content {
	padding:10px;
}

table {
	width: 100%;
	border: 1px solid #444444;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #444444;
	padding:10px;
	text-align: center;
}

button {
	padding:4px;
	width:100%;
}

.bluetop {
  border-collapse: collapse;
  border-top: 2px solid rgb(0, 0, 64);
  border-bottom: 2px solid rgb(0, 0, 64);
  width: 100%;
  text-align: center;
}  
.bluetop th {
  color: rgb(0, 0, 0);
  background: #f0f6f9;
}
.bluetop th, .bluetop td {
  padding: 10px;
  border: 1px solid rgb(64, 64, 64);
}
.bluetop th:first-child, .bluetop td:first-child {
  border-left: 0;
}
.bluetop th:last-child, .bluetop td:last-child {
  border-right: 0;
}

.bluebutton {
	width: 60px;
	height: 40px;
	background-color: #0080ff;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	border-radius: 10px;
	border: 1px solid #0080ff;
}
.bluebutton:focus {
	outline: 0;
}
.bluebutton:hover {
	background-color: rgba(0, 79, 255, 0.9);
	cursor: pointer;
}
.bluebuttonbig {
	width: 120px;
	height: 40px;
	background-color: #0080ff;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	border-radius: 20px;
	border: 1px solid #0080ff;
	margin-top: 10px;
}
.bluebuttonbig:focus {
	outline: 0;
}
.bluebuttonbig:hover {
	background-color: rgba(0, 79, 255, 0.9);
	cursor: pointer;
}
.bluebuttonverybig {
	width: 500px;
	height: 40px;
	background-color: #0080ff;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	border-radius: 20px;
	border: 1px solid #0080ff;
	margin-top: 10px;
}
.bluebuttonverybig:focus {
	outline: 0;
}
.bluebuttonverybig:hover {
	background-color: rgba(0, 79, 255, 0.9);
	cursor: pointer;
}
input {
	width:80%;
	height:100%;
}

#start_date, #text_count {
	width: 100px; 
	font-family: inherit; /* 폰트 상속 */ 
	padding: 4px 80px; /* 여백과 높이 결정 */  
	filter:alpha(opacity=0); /* IE8 숨기기 */ 
	font-weight: bold;
	float:left;
	
}

.selectbox { 
	position: relative; 
	width: 500px; /* 너비설정 */ 
	border: 1px solid #999; /* 테두리 설정 */ 
	z-index: 1; 
	margin-bottom: 10px;
} 
.selectbox:before { /* 화살표 대체 */ 
	content: ""; 
	position: absolute; 
	top: 50%; 
	right: 15px; 
	width: 0; 
	height: 0; 
	margin-top: -1px; 
	border-left: 5px solid transparent; 
	border-right: 5px solid transparent; 
	border-top: 5px solid #333; 
} 
.selectbox label { 
	position: absolute; 
	top: 1px; /* 위치정렬 */ 
	left: 5px; /* 위치정렬 */ 
	padding: .8em .5em; /* select의 여백 크기 만큼 */ 
	color: #000; 
	z-index: -1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */ 
} 
.selectbox select { 
	width: 100%; 
	height: auto; /* 높이 초기화 */ 
	line-height: normal; /* line-height 초기화 */ 
	font-family: inherit; /* 폰트 상속 */ 
	padding: .8em .5em; /* 여백과 높이 결정 */ 
	border: 0; 
	opacity: 0; /* 숨기기 */ 
	filter:alpha(opacity=0); /* IE8 숨기기 */ 
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none; 
}

#avg_by_membership {
	width: 400px;
	position: absolute;
	top: 100px;
}
